@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0px;
}
.main-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../public/images/foodbg.webp");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}
